<div class="row m-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
               <h1>Sobre Comic App</h1> 
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex illum et dolore tempore enim! Repudiandae, minima totam labore asperiores consectetur mollitia, perspiciatis laudantium quae ullam enim, voluptas voluptatibus suscipit autem.</p>
                
              </blockquote>
            </div>
          </div>
    </div>
</div>
